.wr-user{

    .container{
        max-width: 1278px;
        margin: 0 auto;

        @media screen and (max-width: 1316px) {
            width: 96%;
        }
    }

    .nav-block{
        display: flex;
        width: 100%;
        position: relative;

        nav{
            position: absolute;
            top: 10px;
            left: -70px;
            display: flex;        
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            column-gap: 25px;
            padding: 25px 20px;
            width: 10%;
            height: 90vh;

            a{
                text-decoration: none;
                transition: .2s;

                &:hover{
                    transform: scale(1.2);
                }

                &.log-out {
                    margin-top: auto;
                }

                &.back-arrow{
                    margin-bottom: 30px;
                }

                img{
                    width: 50px;
                    height: 50px;
                }
            }

        }
    }

    .tooltip{
        background-color: rgb(255, 92, 0);
    }
}