.amount-control{
    width: 84px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    background: rgb(242, 242, 243);

    button{
        border: none;
        width: 16px;
        height: 36px;
    }
}